<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lotus.kangnamuniv">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_jjjinlauncher"
        android:requestLegacyExternalStorage="true"
        android:label="강냉이 마을"
        android:roundIcon="@mipmap/ic_jjjinlauncher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KangnamUniv"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.lotus.kangnamuniv.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.lotus.kangnamuniv.MyInfoCheckActivity"/>
        <activity android:name="com.lotus.kangnamuniv.RegisterActivity"/>
        <activity android:name="com.lotus.kangnamuniv.FragmentMainActivity" />
        <activity android:name="com.lotus.kangnamuniv.BoardActivity"/>
        <activity android:name="com.lotus.kangnamuniv.WriteActivity"/>
        <activity android:name="com.lotus.kangnamuniv.PostActivity"/>
        <activity android:name="com.lotus.kangnamuniv.ChangeNicknameActivity"/>
        <activity android:name="com.lotus.kangnamuniv.ChangePWActivity"/>
        <activity android:name="com.lotus.kangnamuniv.InfoActivity"/>
        <activity android:name="com.lotus.kangnamuniv.QnAActivity"/>
    </application>

</manifest>